<a href="https://colab.research.google.com/github/Ziqi-Li/ASU-GIS-322-Fall-19/blob/master/notebooks/01_Module01c_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![alt text](http://icons.iconarchive.com/icons/google/noto-emoji-animals-nature/256/22261-panda-face-icon.png)

# **Introduction to Pandas**

According to Wikipedia, ***pandas*** is “a software library written for the Python programming language for data manipulation and analysis.”

It is one of the most popular libraries in Python, and it is a must-have for any data handling and analysis purpoeses.

You can think about ***pandas*** as the Microsoft Excel in Python. So in this module, we will get you familiar (refreshed, if you have experience) with ***pandas***.

***pandas*** library has been pre-installed on Google Colab, so just one line of code to import the library.

In [1]:
import pandas as pd #as is an alias, now you call pandas in short with pd

Once you’ve imported the library, let’s import a dataset so we can begin to look at pandas and its functionality. We’ll use a dataset provided by Google Colab. The file is in your current work directory under the `sample_data` folder with the name `california_housing_test.csv`. This file contains some housing data in California.


Pandas is able to read several different types of stored data, including CSVs (comma separated values), TSVs (tab separated values), JSONs (JavaScript Object Notation, HTML (Hypertext Markup Language), among others. For our example, we’ll use a CSV and read in our data that way.

In [2]:
housing = pd.read_csv('sample_data/california_housing_test.csv')

In the above block of code, we’ve read in our CSV and saved it as a variable `housing`. The link within the single quotes is our relative file path — or where the file is actually stored. We can also pass in a relative file path if our file is stored locally, which gives us the target file relative to where we currently sit within our directory.

First lets have a look at what is inside of the `housing` variable!

In [3]:
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

The `housing` vairable contains a table of 3,000 neighborhoods, with locations (latitudes and longitudes) and household attributes, like the total number of housholds in the neighborhood, the median income of the neighborhood

This table like object is called a `DataFrame` in pandas.

In [4]:
type(housing)

pandas.core.frame.DataFrame

The DataFrame is too large, and I want to just look at the first few rows, or the last few rows, what should I do?

In [5]:
housing.head() #This returns the first 5 rows in the DataFrame

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [6]:
housing.tail(2) #This returns the last X rows in the DataFrame, where X is the parameter you put in the bracket, here X=2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

How should I know the number of rows and columns of the DataFrame?

In [7]:
housing.shape # This returns you a tuple (# of rows, # of columns)

(3000, 9)

What are the column names?

In [8]:
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

Some summary statistics of the DataFrame?

In [9]:
housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

How do I access a column with the column name?

In [10]:
housing['median_income']

0       6.6085
1       3.5990
2       5.7934
3       6.1359
4       2.9375
         ...
2995    1.1790
2996    3.3906
2997    2.2895
2998    3.2708
2999    8.5608
Name: median_income, Length: 3000, dtype: float64

How do I access a row with the row number?

In [11]:
housing.iloc[0,] #this is the first row, note that index starts from 0

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [12]:
housing.iloc[2,] #this is the third row

longitude               -117.8100
latitude                  33.7800
housing_median_age        27.0000
total_rooms             3589.0000
total_bedrooms           507.0000
population              1484.0000
households               495.0000
median_income              5.7934
median_house_value    270500.0000
Name: 2, dtype: float64

How do I know the median_income of the first neighborhood?

In [13]:
housing['median_income'][0] #alrighty, I assume the unit is 10,000 dolloars, so the median income
#of the first neighborhood is 66085 dollars.

6.6085

Pandas has much more functionalities than these, but those are the most basic ones that you need to know. If you have extra time, you could go to this website and learn more about pandas:

https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html